body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: azure;

  background-color: #f4f992;
}

.select {
  display: block;

  width: 50%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;

  padding: 10px;

  border-radius: 10px;
}

.wrapper {
  background-color: #598eff;
  width: 50%;

  margin-left: auto;
  margin-right: auto;

  padding: 40px;

  border-radius: 10px;
}

.weather_loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather_loading img {
  min-width: 10px;
}

.weather_header {
  display: flex;
}

.weather_main {
  flex: 1 1 auto;
}

.weather_city {
  font-size: 50px;
  font-weight: 400;

  margin-bottom: 15px;
}

.weather_status {
  font-size: 20px;
  margin-bottom: 20px;
}

.weather_temp {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.weather_temp::after,
.weather_feels-like::after {
  display: inline-block;
  margin-left: 5px;
  content: '°C';
}
